/* -- BASE -- */

:root {
    --font-titulo: 'Oswald', sans-serif;
    --font-sub-titulo: 'Roboto Condensed', sans-serif;
    --font-corpo: 'Spline Sans', sans-serif;

    --branco: #FFFFFF;
    --branco-2: #E8E8E8;
    --preto: #111517;
    --cinza: #858585;
    --metal: #0e0e0e;
    --metal-2:#545454;
    --vermelho: #D13328;
    --roxo: #8a2be2;

    --bg: url(../img/bg-chamada.gif) top 0 left 0 no-repeat;
    --bg-sobre: #e8e8e8;
}

:root.darkmode__ativo {
    --font-titulo: 'Oswald', sans-serif;
    --font-sub-titulo: 'Roboto Condensed', sans-serif;
    --font-corpo: 'Spline Sans', sans-serif;

    --branco: #0e0e0e;
    --branco-2: #545454;
    --preto: #FFFFFF;
    --cinza: #858585;
    --metal: #FFFFFF;
    --metal-2:#E8E8E8;
    --vermelho: #8a2be2;
    --roxo: #D13328;
    
    --bg: url(../img/bg-chamada-dark.gif) top 0 left 0 no-repeat;
    --bg-sobre: #0e0e0e;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    background: var(--branco);
}

body.darkmode__ativo {
    --branco: #0e0e0e;
    --branco-2: #545454;
    --preto: #FFFFFF;
    --cinza: #858585;
    --metal: #FFFFFF;
    --metal-2:#E8E8E8;
    --vermelho: #8a2be2;
    --roxo: #D13328;

    --bg: url(../img/bg-chamada-dark.gif) top 0 left 0 no-repeat;
    --bg-sobre: #292929;
}

@keyframes alteracaoSlide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/* -- MENU BOLADO -- */

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -100vh;
    left: 0;
    font-family: var(--font-corpo);
    transition: ease-in 0.3s;
}

.cabecalho.mostrar__ativo {
    bottom: 0;
    transition: ease-out 0.3s;
    z-index: 3000;
}

.navegacao {
    width: 100vw;
    height: 70px;
    background: var(--branco);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.navegacao ul {
    display: flex;
    width: 350px;
}

.navegacao ul li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navegacao ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navegacao ul li a .icone {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--preto);
    font-weight: 800;
}

.navegacao ul li.ativo a .icone {
    transform: translateY(-35px);
}

.navegacao ul li a .texto {
    position: absolute;
    color: var(--preto);
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.navegacao ul li.ativo a .texto {
    transform: translateY(5px);
    opacity: 1;
}

.indicador {
    position: absolute;
    top: -55%;
    width: 70px;
    height: 70px;
    background: var(--vermelho);
    border-radius: 50%;
    /* border: 6px solid var(--branco-2); */
    transition: 0.5s;
}

/* .indicador::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--branco-2);
}

.indicador::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--branco-2);
} */

.navegacao ul li:nth-child(1).ativo ~ .indicador {
    transform: translateX(calc(70px * 0));
}

.navegacao ul li:nth-child(2).ativo ~ .indicador {
    transform: translateX(calc(70px * 1));
}

.navegacao ul li:nth-child(3).ativo ~ .indicador {
    transform: translateX(calc(70px * 2));
}

.navegacao ul li:nth-child(4).ativo ~ .indicador {
    transform: translateX(calc(70px * 3));
}

.navegacao ul li:nth-child(5).ativo ~ .indicador {
    transform: translateX(calc(70px * 4));
}


/* -- CABECALHO 2 -- */

.cabecalho-2 {
    position: absolute;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.cabecalho-2 h2 {
    font-family: var(--font-titulo);
    color: #FFF;
    font-size: 32px;
    text-transform: uppercase;
}

.menu__botao {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.menu__botao span {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.5s;
}

.menu__botao span:nth-child(1) {
    transform: translateY(-10px);
    width: 18px;
    left: 16.6px;
}

.menu__botao.aberto span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    left: 5px;
    width: 30px;
    transition-delay: 0.125s;
}

.menu__botao.aberto span:nth-child(2) {
    transform: translateY(0) rotate(315deg);
    left: 5px;
    width: 30px;
    transition-delay: 0.25s;
}

.menu__botao span:nth-child(2) {
    transform: translateY(10px);
    width: 12px;
    left: 22.4px;
}

.menu__botao.aberto span:nth-child(3) {
    transform: translateX(60px);
}

.menu__lista {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 280px;
    height: 91vh;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: initial;
    border-right: 5px solid rgba(255, 255, 255, 1);
    transition: 0.5s;
    overflow-x: hidden;
    font-family: var(--font-corpo);
    transform: translateX(100%);
}

.menu__lista.aberto {
    transform: translateX(0);
}

.menu__lista ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-left: 35px;
    padding-top: 40px;
}

.menu__lista ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu__lista ul li.selecionado {
    background: rgba(255, 255, 255, 1);
}

.menu__lista ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: #FFF;
    margin-bottom: 10px;
}

.menu__lista ul li.selecionado a {
    color: #222;
}

.menu__lista ul li a .icone__menu {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.menu__lista ul li a .icone__menu ion-icon {
    font-size: 1.8em;
}

.menu__lista ul li a .texto__menu {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 55px;
    white-space: normal;
}

.menu__lista .redes  {
    color: #FFF;
    font-size: 64px;
    position: absolute;
    top: 60vh;
}

.menu__lista .redes .icone-git {
    position: absolute;
    left: 60px;
}

.menu__lista .redes .icone-in {
    position: absolute;
    left: 160px;
}

/* .toggle {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 160px;
    background: var(--branco-2);
    margin-bottom: 50px;
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
                inset 0px 8px 8px rgba(0, 0, 0, 0.1),
                inset 0px -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    left: 50px;
    top: 20px;
}

.toggle .indicador__darkmode {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, var(--branco-2), var(--branco));
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.toggle.darkmode__ativo .indicador__darkmode {
    left: 60px;
    background: var(--branco);
    box-shadow: 0 8px 60px rgba(0, 0, 0, 0.5),
                inset 0 8px 8px rgba(0, 0, 0, 0.2),
                inset 0 -4px 4px rgba(0, 0, 0, 0.2);
} */


/* -- CHAMADA -- */

.chamada {
    position: relative;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg);
    background-size: 180vw 100vh;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
}

.chamada .conteudo {
    background: rgba(0, 0, 0, 0.7);
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
}

.chamada .conteudo h1 {
    font-family: var(--font-titulo);
    font-size: 48px;
    color: var(--vermelho);
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 800;
}

.chamada .conteudo h2 {
    font-family: var(--font-sub-titulo);
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.chamada .conteudo p {
    color: #FFF;
    font-family: var(--font-corpo);
    font-size: 32px;
}

.chamada .conteudo .resumo {
    font-size: 18px;
    font-family: var(--font-corpo);
    margin-bottom: 40px;
}


.chamada .conteudo a button {
    background: var(--vermelho);
    width: 225px;
    height: 50px;
    border-radius: 5px;
    font-family: var(--font-titulo);
    color: #FFF;
    /* font-weight: 800; */
    font-size: 18px;
    /* text-transform: uppercase; */
}

/* -- UM POUCO SOBRE NÓS -- */

.carrossel {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.sobre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-sobre);
    box-sizing: border-box;
}

.sobre h3 {
    color: var(--preto);
    font-family: var(--font-sub-titulo);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 60px;
    left: 55px;
    padding-bottom: 10px;
    border-bottom: 6px solid var(--vermelho);
    border-radius: 5px;
}

.sobre .botoes {
    position: absolute;
    font-size: 32px;
    color: var(--preto);
}

.sobre .botoes button.carrossel__next {
    position: absolute;
    left: 110px;
}

.sobre .botoes button.carrossel__after {
    position: absolute;
    right: 110px;
}

.sobre .details {
    position: relative;
    width: 320px;
    height: 50px;
    background: var(--branco);
    border-radius: 4px;
    overflow: hidden;
    font-family: var(--font-sub-titulo);
    transition: 0.5s;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);
    margin: auto 20px;
    display: none;
    transition: 0.5s;
}

.sobre .details.visivel {
    display: block;
    animation: alteracaoSlide 0.5s;
}

.sobre .details.aberto {
    height: 500px;
    border:2px solid;
    border-width: thin;
}

.sobre .conteudo__details {
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-corpo);
    transition: 0.5s;
    width: 100%;
    height: 50px;
    border: 3px double var(--preto);
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.5s;
}

.sobre .conteudo__details::before {
    content: '+';
    font-weight: 400;
    font-size: 48px;
    color: var(--preto);
    position: absolute;
    right: 24px;
    transition: 0.5s;
    font-family: var(--font-corpo);
}

.sobre .conteudo__details.aberto::before {
    transform: rotate(315deg);
}

.sobre .conteudo__details span {
    font-size: 24px;
    font-weight: 700;
    background: var(--vermelho);
    height: 50px;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.sobre .conteudo__details h4 {
    font-size: 24px;
    font-family: var(--font-sub-titulo);
    color: var(--preto);
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 800;
}

.sobre .details .conteudo__sec {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-corpo);
}

.sobre .details .conteudo__sec.projetos {
    padding-top: 35px;
}

.sobre .details .conteudo__sec img {
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

.sobre .details .conteudo__sec.git .logo__git {
    color: var(--preto);
    font-size: 175px;
    margin: none;
}

.sobre .details .conteudo__sec.projetos .logo__game {
    color: var(--preto);
    font-size: 155px;
    margin: none;
}

.sobre .details .conteudo__sec h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
    color: var(--preto);
}

.sobre .details .conteudo__sec p {
    font-family: var(--font-corpo);
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 10px;
    color: var(--preto);
}

.sobre .details .conteudo__sec.git p {
    min-width: 280px;
}

.sobre .details .conteudo__sec span {
    font-family: var(--font-corpo);
    font-size: 15px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: var(--preto);
}

.sobre .details .conteudo__sec a {
    background: #0a66c2;
    width: 180px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);
}

.sobre .details .conteudo__sec.git a {
    background: var(--preto);
}

.sobre .details .conteudo__sec.projetos a {
    background: var(--vermelho);
    width: 145px;
}

.sobre .details .conteudo__sec a ion-icon {
    font-size: 24px;
    color: #FFF;
    margin-left: 16px;
}

.sobre .details .conteudo__sec.git a ion-icon {
    color: var(--branco);
}

.sobre .details .conteudo__sec a button {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: var(--font-titulo);
    margin-left: 10px;
}

.sobre .details .conteudo__sec.git a button {
    color: var(--branco);
}

/* -- RODAPE -- */

.rodape__conteudo {
    background: var(--preto);
    background-size: 100%;
    width: 100%;
    height: 40vw;
    position: sticky;
    z-index: 4000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape__conteudo div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.rodape__conteudo div .rodape__titulo {
    font-family: var(--font-titulo);
    text-transform: uppercase;
    font-size: 32px;
    color: var(--vermelho);
    font-weight: 800;
}

.rodape__conteudo div a {
    color: var(--branco);
    font-family: var(--font-corpo);
    line-height: 45px;
}

.rodape__conteudo div a i::before {
    content: "\00A9";
}

/* -- MODAL DARK MODE -- */

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-corpo);
}

.modal__container.mostrar {
    display: flex;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: var(--branco);
    width: 320px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    position: relative;
    padding: 16px 32px;
    color: var(--preto);
}

.mostrar .modal {
    animation: modal .3s;
}

.modal button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
    font-size: 18px;
    width: 25px;
    height: 25px;
    background: var(--vermelho);
    border-radius: 50%;
}

.modal h2 {
    font-family: var(--font-corpo);
    font-size: 30px;
    line-height: 100px;
    font-weight: 800;
    color: var(--vermelho);
}

.modal p {
    max-width: 250px;
    margin-bottom: 30px;
}

.modal label {
    margin-bottom: 10px;
}

.modal #toggle {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 160px;
    background: var(--branco-2);
    margin-bottom: 50px;
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
                inset 0px 8px 8px rgba(0, 0, 0, 0.1),
                inset 0px -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal #toggle .indicador__darkmode {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, var(--branco-2), var(--branco));
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.modal #toggle.darkmode__ativo .indicador__darkmode {
    left: 60px;
    background: var(--branco);
    box-shadow: 0 8px 60px rgba(0, 0, 0, 0.5),
                inset 0 8px 8px rgba(0, 0, 0, 0.2),
                inset 0 -4px 4px rgba(0, 0, 0, 0.2);
}

.modal input {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: var(--vermelho);
    width: 135px;
    height: 45px;
    border-radius: 20px;
}

/* -- PERFIL -- */

.login {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login div .titulo {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.login div .titulo span {
    font-family: var(--font-sub-titulo);
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    line-height: 35px;
    color: var(--preto);
    border-bottom: 6px solid var(--vermelho);
    display: flex;
    align-items: flex-start;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: var(--font-corpo);
    position: relative;
}

.login div form div {
    position: relative;
}

.login div form div span {
    position: absolute;
    left: 10px;
    font-size: 20px;
}

.login div form div span.icon-user {
    top: 34px;
}

.login div form div span.icon-lock {
    bottom: 50px;
}

.login div form div label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 15px;
    padding-left: 16px;
}

.login div form div input {
    width: 320px;
    height: 30px;
    padding-left: 36px;
    background: none;
    border-bottom: 1px solid var(--preto);
    margin-bottom: 45px;
}

.login div form .entrar {
    width: 125px;
    height: 40px;
    background: var(--vermelho);
    color: #FFF;
    font-family: var(--font-titulo);
    border-radius: 4px;
}

.login div form .criar {
    width: 125px;
    height: 40px;
    background: var(--vermelho);
    color: #FFF;
    font-family: var(--font-titulo);
    border-radius: 4px;
}

.login .create {
    display: flex;
    position: relative;
    margin-top: 30px;
    font-family: var(--font-corpo);
    font-size: 15px;
    font-weight: 600;
}

.login .create p .create-link {
    color: var(--vermelho);
    text-decoration: underline;
}

/* -- LOJA -- */

.loja-pesquisas {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.loja-pesquisas .teste {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 140px;
}

.loja-pesquisas .teste h5 {
    font-family: var(--font-sub-titulo);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    color: var(--preto);
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: underline var(--vermelho) 4px;
    margin-bottom: 40px;
}

.loja-pesquisas .teste form {
    width: 100%;
}

.loja-pesquisas .teste form div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loja-pesquisas .teste form div input {
    width: 85%;
    background: var(--branco-2);
    height: 50px;
    padding-left: 75px;
    border-radius: 4px;
    font-family: var(--font-corpo);
    color: var(--preto);
    font-weight: 600;
    position: relative;
}

::-webkit-input-placeholder {
    color: var(--preto);
    font-weight: 600;
}

.loja-pesquisas .teste form div label {
    position: absolute;
    left: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--vermelho);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.loja-pesquisas .teste form div label ion-icon {
    font-size: 20px;
    color: #FFF;
    font-weight: 800;
}